<html>
   <body>
    <% data.forEach(task => { %>
      <div>
        <p>id: <%= task.id %></p>
        <p>Left: <%= task.left %></p>
        <p>Right: <%= task.right %></p>
        <p>Operation: <%= task.operation %></p>
        <p>Calculation: <%= task.calculation %></p>
        <p>Result: <%= task.result %></p>
      </div>
  <% }) %>
   </body>
</html>